body {
    background-color: #2c3e50; /* Dark background */
    color: #ecf0f1; /* Light text */
}

.logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: auto;
    height: 7.5%;
    max-width: 12.5%;
    z-index: 1000; /* Ensures the logo is on top of other elements */
} 

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ecf0f1;
    color: white;
}

.owl-icon { 
    position: absolute;
    right: 100px; 
    top: 10px; 
    font-size: 36px; 
    width: auto; 
    height: 7.5%;
    max-width: 12.5%; 
    z-index: 1000; /* Ensures the logo is on top of other elements */ }
}

.owl-icon :hover {
    color: darkorange;  /* Changes color when hovered */
}

.logo :hover {
    color: darkorange;  /* Changes color when hovered */
}


@media screen and (max-width: 600px) {
    .logo {
        height: 10%; /* Increase height for smaller screens */
        max-width: 30%; /* Allow the logo to take up more width on narrow devices */
    }
}
@media screen and (max-width: 600px) {
    .owl-icon {
        font-size: 28px; /* Adjust font size for smaller screens */
        right: 50px;     /* Move icon closer to the center */
    }
}


#heroImage {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero h1 {
    font-size: 4rem;
    margin-top: 20px; /* Adjust the value as needed */
}
